@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-primary: #191A19;
  --color-secondary: #4E9F3D;
  --color-tertiary: #323937;
  --toastify-icon-color-success: var(--color-secondary) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background: var(--color-primary);
}

.Toastify__toast-theme--dark {
  background-color: var(--color-tertiary) !important;
}

.Toastify__progress-bar--animated {
  background: var(--color-secondary) !important;
}
